body {
    background-color: gray;
}

footer {
    position: absolute;
    bottom: 0;
}

.navbar-dark {
    background-color: darkslategray;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    color: white;
}

div.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}